{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/prop-types": ["error"],
    "react/no-unused-prop-types": ["error"],
    "prefer-arrow-callback": ["error"],
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "import/extensions": [1, "never", { "svg": "always" }],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": true }],
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": [
      "error",
      {
        "allowAllCaps": true,
        "ignore": []
      }
    ],
    "react/jsx-uses-vars": "error",
    "react/no-deprecated": ["error"],
    "react/no-direct-mutation-state": "off",
    "react/prefer-stateless-function": [
      "error",
      { "ignorePureComponents": true }
    ],
    "react/no-unknown-property": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "semi": ["error", "always"]
  },
  "env": {
    "jest": true
  }
}
